@import "../../variables.scss";

.Chart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

  &__title {
    font-size: 25px;
  }

  &__price--container {
    display: flex;

    &--price {
      margin-right: 2rem;
    }
  }
}

.Line {
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
}
