@import "../../variables.scss";

.Footer {
  background-color: $header;
  padding: 1rem;

  .link {
    text-decoration: underline;
    color: white;
  }

  &__links {
    text-align: center;

    .link {
      margin: 0 10px;
    }
  }
}
