.Exchanges {
  width: 80%;
  margin: 0 auto;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__list {
    margin: 2rem 0px;

    &-c {
      border: 1px solid rgb(171, 171, 171);
      border-radius: 5px;
      padding: 1rem;
      background-color: #fff;
      margin-bottom: 1px;
    }

    &--card {
      display: flex;
      align-items: center;
      cursor: pointer;
      font-size: 14px;

      div {
        flex: 0.25;
      }

      &--header {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }
    }
    .description {
      background-color: white;
      padding: 1rem;
    }
  }
}
