.Exchanges {
  width: 80%;
  margin: 0 auto;

  &__list {
    margin: 2rem 0px;

    &--container {
      border: 1px solid rgb(171, 171, 171);
      border-radius: 5px;
      padding: 1rem;
      background-color: #fff;
      margin-bottom: 1px;
      align-items: center;
      cursor: pointer;

      &--card {
        display: flex;
        align-items: center;
        font-size: 14px;

        div {
          flex: 0.25;
        }

        &--header {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
        }
      }
    }
    .description {
      background-color: white;
      padding: 1rem;
      cursor: auto;
    }
  }
}
