@import "variables.scss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient(180deg, $primary, $header);
}

.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.Navbar {
  margin-bottom: 5rem;
}
